<div>
  <form (ngSubmit)="login(f)" #f="ngForm" fxLayout="column">
    <h1>Login</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Email:</mat-label>
      <input matInput name="email" type="text" ngModel required />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password:</mat-label>
      <input matInput name="password" type="password" ngModel required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
