<div >
  <form (ngSubmit)="signUp(f)" #f="ngForm" fxLayout="column">

    <h1>Sign-Up</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Email:</mat-label>
      <input matInput name="email" type="text" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password:</mat-label>
      <input matInput name="password" type="password" ngModel>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign-Up</button>
  </form>
</div>
